In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from pandas import Series,DataFrame

In [2]:
df1 = pd.read_csv('Ebola_Health_Zone.csv')
df1=df1.drop("Unnamed: 0", axis=1)
dfzones=df1.copy()
dfzones=dfzones.sort_values(by=['report_date'])
dfzones.tail()

FileNotFoundError: [Errno 2] No such file or directory: 'Ebola_Health_Zone.csv'

In [16]:
print(np.sort(dfzones.health_zone.unique()))

['Alimbongo' 'Ariwara' 'Beni' 'Biena' 'Bukavu' 'Bunia' 'Butembo' 'Goma'
 'Kalunguta' 'Katwa' 'Kayina' 'Kayna' 'Komanda' 'Kyondo' 'Lolwa' 'Lubero'
 'Mabalako' 'Mambasa' 'Mandima' 'Mangurujipa' 'Masereka' 'Mubumbano'
 'Musienene' 'Mutwanga' 'Mwana' 'Mwenga' 'Nyankunde' 'Nyiragongo' 'Oicha'
 'Pinga' 'Rwampara' 'Rwampara (Bunia)' 'Tchomia' 'Vuhovi']

In [4]:
df2=pd.read_csv('Ebola_TOTAL.csv')
df2=df2.drop("Unnamed: 0", axis=1)
dfTotal=df2.copy()

In [5]:
dfCrime=pd.read_csv('Congo_crime.csv')
dfCrime=dfCrime.drop("Unnamed: 0", axis=1)
dfCrime=dfCrime.sort_values(by=['event_date'])

In [7]:
dfzones=dfzones.groupby(['report_date','province'])['total_cases'].sum().reset_index()
dfzones.tail()

     report_date    province  total_cases
1284  2020-02-15  North Kivu       2899.0
1285  2020-02-15  South Kivu          6.0
1286  2020-02-16       Ituri        527.0
1287  2020-02-16  North Kivu       2899.0
1288  2020-02-16  South Kivu          6.0

In [7]:
gbProv= pd.DataFrame()

index_var = "report_date"
numeric_cal = 'total_cases'

for name, group in dfzones.groupby('province'):  
    if gbProv.empty:
        gbProv = group.set_index(index_var)[[numeric_cal]].rename(columns={numeric_cal:name})
    else:
        gbProv = gbProv.join(group.set_index(index_var)[[numeric_cal]].rename(columns={numeric_cal:name}))
gbProv=gbProv.fillna(0)
gbProv.head()

             Ituri  North Kivu  South Kivu
report_date
2018-08-03     5.0        38.0         0.0
2018-08-05     2.0        41.0         0.0
2018-08-06     2.0        41.0         0.0
2018-08-07     2.0        42.0         0.0
2018-08-08     2.0        42.0         0.0

In [14]:
dailyCrime=dfCrime.sort_values(by='event_date')
dailyCrime=dailyCrime.groupby(['event_date','admin1']).size().reset_index(name='counts')
dailyCrime.set_index('event_date').head()

                                  admin1  counts
event_date
2018-08-02                     Nord-Kivu       4
2018-08-02                      Sud-Kivu       2
2018-08-03  Democratic Republic of Congo       2
2018-08-03                         Ituri       1
2018-08-03                     Nord-Kivu       4

In [15]:
array = ['Nord-Kivu', 'Ituri', 'Sud-Kivu']
dailyCrime=dailyCrime.loc[dailyCrime['admin1'].isin(array)]

In [16]:
gbDailyCrime= pd.DataFrame()

index_var = "event_date"
numeric_cal = 'counts'

for name, group in dailyCrime.groupby(['admin1']):
    if gbDailyCrime.empty:
        gbDailyCrime = group.set_index(index_var)[[numeric_cal]].rename(columns={numeric_cal:name})
    else:
        gbDailyCrime = gbDailyCrime.join(group.set_index(index_var)[[numeric_cal]].rename(columns={numeric_cal:name}))
gbDailyCrime=gbDailyCrime.fillna(0)
gbDailyCrime.head()

            Ituri  Nord-Kivu  Sud-Kivu
event_date
2018-08-03      1        4.0       0.0
2018-08-11      2        2.0       1.0
2018-08-16      1        1.0       0.0
2018-08-18      3        1.0       2.0
2018-08-19      1        1.0       0.0

In [18]:
dailyFat=dfCrime.sort_values(by='event_date')
dailyFat=dfCrime.groupby(['event_date','admin1'])['fatalities'].sum().reset_index()

In [19]:
array = ['Nord-Kivu', 'Ituri', 'Sud-Kivu']
dailyFat=dailyFat.loc[dailyFat['admin1'].isin(array)]

In [20]:
gbDailyFat= pd.DataFrame()

index_var = "event_date"
numeric_cal = 'fatalities'

for name, group in dailyFat.groupby(['admin1']):
    if gbDailyFat.empty:
        gbDailyFat = group.set_index(index_var)[[numeric_cal]].rename(columns={numeric_cal:name})
    else:
        gbDailyFat = gbDailyFat.join(group.set_index(index_var)[[numeric_cal]].rename(columns={numeric_cal:name}))
gbDailyFat=gbDailyFat.fillna(0)
gbDailyFat.head()

            Ituri  Nord-Kivu  Sud-Kivu
event_date
2018-08-03    0.0        4.0       0.0
2018-08-11    0.0        8.0       2.0
2018-08-16    1.0        1.0       0.0
2018-08-18    3.0        0.0       4.0
2018-08-19    1.0        3.0       0.0

In [26]:
daysArray=np.array(gbDailyFat.index)

In [22]:
def setdiff_sorted(array1,array2,assume_unique=True):
    ans = np.setdiff1d(array1,array2,assume_unique).tolist()
    if assume_unique:
        return sorted(ans)
    return ans
print(setdiff_sorted(daysArray2,daysArray, assume_unique=True))

['2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-27', '2019-07-28', '2019-07-29', '2019-08-05', '2020-02-17']

In [25]:
gbDailyFat=gbDailyFat.drop(['2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-27', '2019-07-28', '2019-07-29', '2019-08-05', '2020-02-17'])
gbDailyCrime=gbDailyCrime.drop(['2019-07-22', '2019-07-23', '2019-07-24', '2019-07-25', '2019-07-26', '2019-07-27', '2019-07-28', '2019-07-29', '2019-08-05', '2020-02-17'])

In [35]:
gbProv=gbProv.reset_index('report_date')
ZonesDf=gbProv.loc[gbProv['report_date'].isin(daysArray)]

KeyError: 'Level report_date must be same as name (None)'

In [36]:
ZonesDf.to_csv('ZonesDf.csv')
gbDailyFat.to_csv('gbDailyFat.csv')
gbDailyCrime.to_csv('gbDailyCrime.csv')