# 1. Data processes

## 1.1: Getting data

Humdata.org provides a detailed dataset that spans the epidemic we are trying to understand. After browsing the internet, this dataset seems to be the most expansive and reliable. No webscraping was needed but an additional step that can be taken to ensure reliable data is to scrape the World Health Organization's Website for the data instead.

This approach was not used, trusting Humdata for that information for simplicity and time.

 ## 1.2: Imports and initial data loading

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#row 1 contains duplicate header, skip it
dfTotal = pd.read_csv('datasets\Total_DRC_Ebola OutbreakNorth KivuIturi√âquateur.csv',skiprows=[1])

In [3]:
dfTotal.tail(10)

,publication_date,report_date,country,confirmed_cases,probable_cases,total_cases,confirmed_deaths,total_deaths,total_suspected_cases,new_deaths,...,total_cured,new_suspected_cases,old_suspected_cases,confirmed_cases_change,probable_cases_change,total_cases_change,confirmed_deaths_change,total_deaths_change,total_suspected_cases_change,source
580,2018-08-14,2018-08-13,COD,39,27,66,15,42.0,36.0,1.0,...,NaN,8.0,28.0,9.0,0.0,9.0,1.0,1.0,-22.0,https://mailchi.mp/37b7545e3544/ebola_kivu_14aout
581,2018-08-13,2018-08-12,COD,30,27,57,14,41.0,58.0,2.0,...,NaN,12.0,46.0,5.0,0.0,5.0,2.0,2.0,10.0,https://mailchi.mp/de936e52fb17/ebola_kivu_13aout
582,2018-08-12,2018-08-11,COD,25,27,52,12,39.0,48.0,1.0,...,NaN,11.0,37.0,3.0,0.0,3.0,1.0,1.0,-5.0,https://mailchi.mp/5740eb659e90/ebola_kivu_12aout
583,2018-08-11,2018-08-10,COD,22,27,49,11,38.0,53.0,0.0,...,NaN,8.0,45.0,1.0,0.0,1.0,0.0,0.0,2.0,https://mailchi.mp/17136ac871cd/ebola_kivu_11aout
584,2018-08-10,2018-08-09,COD,21,27,48,11,38.0,51.0,2.0,...,NaN,8.0,43.0,4.0,0.0,4.0,1.0,1.0,-3.0,https://mailchi.mp/68ac0a236b26/ebola_kivu_10aout
585,2018-08-09,2018-08-08,COD,17,27,44,10,37.0,54.0,1.0,...,NaN,12.0,42.0,0.0,0.0,0.0,1.0,1.0,7.0,https://mailchi.mp/4cc2513a9f7d/ebola_kivu_9aout
586,2018-08-08,2018-08-07,COD,17,27,44,9,36.0,47.0,0.0,...,NaN,10.0,37.0,1.0,0.0,1.0,0.0,0.0,1.0,https://mailchi.mp/80a23d454958/ebola_kivu_8aout
587,2018-08-07,2018-08-06,COD,16,27,43,9,36.0,46.0,2.0,...,NaN,17.0,29.0,0.0,0.0,0.0,2.0,2.0,15.0,https://mailchi.mp/526091c2d161/ebola_kivu_7aout
588,2018-08-06,2018-08-05,COD,16,27,43,7,34.0,31.0,4.0,...,NaN,21.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,https://mailchi.mp/70213f4262fb/ebola_kivu_6aout
589,2018-08-04,2018-08-03,COD,13,30,43,3,33.0,33.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,https://mailchi.mp/8bfa0c09fe7b/ebola_kivu_4aout

We see through the initial loading of the dataset similar and unnecessary columns. For all intents and purposes, we do not need columns like probable_cases, total_cases_change, total_deaths_change etc, and their counter parts. For the changes, we can calculate that ourselves if needed (it's not). This additional complexity means it is simpler to drop these and use only needed columns that are more well documented

## 1.3: Preliminary filtering and check for nulls

First let's remove any obviously unnecessary columns. We keep a few columns with nulls to see if they can provide any value.

In [4]:
dfTotal=dfTotal.drop('source', axis=1)
dfTotal=dfTotal.drop('new_deaths', axis=1)
dfTotal=dfTotal.drop('confirmed_cases_change', axis=1)
dfTotal=dfTotal.drop('probable_cases', axis=1)
dfTotal=dfTotal.drop('total_suspected_cases_change', axis=1)
dfTotal=dfTotal.drop('total_deaths_change', axis=1)
dfTotal=dfTotal.drop('new_cured', axis=1)
dfTotal=dfTotal.drop('probable_cases_change', axis=1)
dfTotal=dfTotal.drop('total_cases_change', axis=1)
dfTotal=dfTotal.drop('confirmed_deaths_change', axis=1)

In [5]:
pd.isnull(dfTotal).any()

publication_date         False
report_date              False
country                  False
confirmed_cases          False
total_cases              False
confirmed_deaths         False
total_deaths              True
total_suspected_cases     True
total_cured               True
new_suspected_cases       True
old_suspected_cases       True
dtype: bool

Nulls may be problematic for us if data actually was supposed to be there. Our analysis might be skewed. Let's explore further

In [6]:
dfTotal['total_deaths'].isna().sum()

1

In [7]:
dfTotal['total_suspected_cases'].isna().sum()

67

In [8]:
dfTotal['new_suspected_cases'].isna().sum()

501

In [9]:
dfTotal['old_suspected_cases'].isna().sum()

501

In [10]:
dfTotal['total_cured'].isna().sum()

525

Exploring the dataset further, it seems reasonable to drop  new and old suspected, as well as cured, as their null span the entire set. total deaths, which we'll keep even though it seems to be confirmed_deaths + 33.

In [11]:
dfTotal=dfTotal.drop('total_cured', axis=1)
dfTotal=dfTotal.drop('total_suspected_cases', axis=1)
dfTotal=dfTotal.drop('new_suspected_cases', axis=1)
dfTotal=dfTotal.drop('old_suspected_cases', axis=1)

In [12]:
pd.isnull(dfTotal).any()

publication_date    False
report_date         False
country             False
confirmed_cases     False
total_cases         False
confirmed_deaths    False
total_deaths         True
dtype: bool

    Fix total_deaths null:

In [13]:
index=485
l=[]
while(index<495):
    l.append(index)
    index+=1
dfTotal[dfTotal.index.isin(l)]

,publication_date,report_date,country,confirmed_cases,total_cases,confirmed_deaths,total_deaths
485,2018-11-17,2018-11-16,COD,311,358,166,213.0
486,2018-11-16,2018-11-15,COD,305,352,163,210.0
487,2018-11-15,2018-11-14,COD,304,344,162,202.0
488,2018-11-14,2018-11-13,COD,303,341,177,215.0
489,2018-11-13,2018-11-12,COD,301,339,171,NaN
490,2018-11-12,2018-11-11,COD,295,333,171,209.0
491,2018-11-11,2018-11-10,COD,294,329,170,205.0
492,2018-11-10,2018-11-09,COD,291,326,166,201.0
493,2018-11-09,2018-11-08,COD,284,319,163,198.0
494,2018-11-08,2018-11-07,COD,277,312,156,191.0

In [14]:
dfTotal.at[489, 'total_deaths'] = 209.0

## 1.3 Turning data into proper datatypes

In [15]:
dfTotal['total_cases']=pd.to_numeric(dfTotal['total_cases'])
dfTotal['confirmed_cases']=pd.to_numeric(dfTotal['confirmed_cases'])
dfTotal['confirmed_deaths']=pd.to_numeric(dfTotal['confirm_deaths'])
dfTotal['total_deaths']=pd.to_numeric(dfTotal['total_deaths'])


dfTotal['report_date']=pd.to_datetime(dfTotal['report_date'])
dfTotal['publication_date']=pd.to_datetime(dfTotal['publication_date'])

KeyError: 'confirm_deaths'

We're done with the initial screening of the data. We save the results in a new csv and do the same process with the health zones csv, exept knowing the columns we need.

In [ ]:
dfTotal.to_csv('datasets\InitialDataCleansing_Ebola_TOTAL.csv')

--------------------------------------------------------------------------------------------------

## 1.4 Prepare Health Zones Dataset

In [ ]:
dfHealthZones = pd.read_csv('datasets\HealthZone_DRC_EbolaOutbreak_North KivuIturiEquateur.csv',skiprows=[1])

In [ ]:
dfHealthZones = dfHealthZones[['publication_date','report_date', 'country','province','health_zone','confirmed_cases','total_cases','confirmed_deaths','total_deaths']]

In [ ]:
dfHealthZones.tail()

In [ ]:
pd.isnull(dfHealthZones).any()

In [ ]:
dfHealthZones['province'].isna().sum()

In [ ]:
dfHealthZones[dfHealthZones['province'].isnull()].health_zone.unique()

In [ ]:
#small number of rows for each, all of them are null too. rename these columns to Other
dfHealthZones.loc[dfHealthZones['health_zone'] == 'Wangata']

In [ ]:
dfHealthZones.province = dfHealthZones.province.fillna('Other')

In [ ]:
dfHealthZones['province'].isna().sum()

In [ ]:
dfHealthZones['health_zone'].isna().sum()

In [ ]:
dfHealthZones.health_zone = dfHealthZones.health_zone.fillna('Other')

In [ ]:
dfHealthZones['confirmed_cases'].isna().sum()

In [ ]:
dfHealthZones[dfHealthZones['confirmed_cases'].isnull()]

In [ ]:
#early in the epidemic, most likely 0. just one row and unlikely to affect overall results too much 
dfHealthZones.confirmed_cases = dfHealthZones.confirmed_cases.fillna(0)

In [ ]:
dfHealthZones['total_cases'].isna().sum()

In [ ]:
dfHealthZones[dfHealthZones['total_cases'].isnull()]

In [ ]:
#same case
dfHealthZones.total_cases = dfHealthZones.total_cases.fillna(0)

In [ ]:
dfHealthZones['confirmed_deaths'].isna().sum()

In [ ]:
dfHealthZones['total_deaths'].isna().sum()

In [ ]:
#either really late or really early, most likely 0s. Low count compared to enitre ds. 
dfHealthZones[dfHealthZones['total_deaths'].isnull()].head(5)

In [ ]:
dfHealthZones.total_deaths = dfHealthZones.total_deaths.fillna(0)
dfHealthZones.confirmed_deaths = dfHealthZones.confirmed_deaths.fillna(0)

In [ ]:
pd.isnull(dfHealthZones).any()

In [ ]:
dfHealthZones.to_csv('datasets\InitialDataCleansing_Ebola_HEALTHZONES.csv')

-----------------------------------------------------------------------------------------------------

# 1.5 Prepare conflicts dataset

In [ ]:
dfConflicts=pd.read_csv('datasets\conflict_data_cod.csv', skiprows=[1])

In [ ]:
dfConflicts.tail(5)

In [ ]:
dfConflicts.columns

In [ ]:
dfConflicts.drop(['data_id', 'event_id_cnty', 'year', 'time_precision','source', 'timestamp', 'iso3'], axis = 1, inplace =True)

In [ ]:
pd.isnull(dfConflicts).any()

Fatalalities is all we really care about and it has no null. All other columns serve to add additional information to fatalities. Event_date, and location/latitude/longitiude also don't have nulls, which also is beneficial to our analysis.

In [ ]:
dfConflicts = dfConflicts.replace(np.nan, 'NA', regex=True)

In [ ]:
dfConflicts['fatalities']=pd.to_numeric(dfConflicts['fatalities'])

In [ ]:
pd.isnull(dfConflicts).any()

In [ ]:
dfConflicts.to_csv('InitialDataCleansing_DRC_Conflicts.csv')